<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label>rollno</label>
            <input type="number" name="rollno" id="exampleInputPassword1">
          </div>
          <div>
            <label for="password">
                <label for="password">password</label>
                <input type="password" name="password">
            </label>
        </div>
        <button type="submit">login</button>

    </form>
</body>
</html>